/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}*/
@font-face {
    font-family: BabylonFont;
    src: url(BabylonFont.ttf);
}

body {
    font-family: BabylonFont !important;
    min-width: 767px !important;
}

h2 {
    text-align: right;
    margin-top: 0px;
    font-family: BabylonFont !important;
}

.arabic {
    text-align: right;
}

.table {
    direction: rtl;
}

    .table td {
        text-align: right;
    }

    .table th {
        text-align: right;
    }

.box-header {
    direction: rtl;
}

.modal-title {
    text-align: right;
    margin-right: 30px;
    direction: rtl;
    font-family: BabylonFont !important;
    font-size: 23px;
}

.form-control {
    direction: rtl;
}

label {
    text-align: right;
    direction: rtl;
    display: block;
}

.required {
    color: red;
    text-align: right;
    display: block;
    font-size: 13px;
}

/*.select2 {
    -ms-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -ms-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 30px !important;
}

.select2-container--default {
    -ms-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -ms-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 30px !important;
}*/
.ui-autocomplete {
    z-index: 2000;
}

.select2-selection {
    height: 30px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.select2-selection--single {
    height: 30px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.select2-selection__rendered {
    float: right !important;
}

.pagination {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0px;
    margin-left: 10px;
}

.mypagination {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Material Design*/
.fab {
    /*position: relative;*/
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    color: #fff;
    /*overflow: hidden;*/
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

    .fab.red {
        background-color: #d23f31;
    }

    .fab.blue {
        background-color: #4285f4;
    }

    .fab.green {
        background-color: #0f9d58;
    }

    .fab:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        transition-delay: 0s;
    }

    .fab img {
        width: 24px;
        margin-left: 8px;
        margin-top: 8px;
    }

.popup {
    width: 230px;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.5);
}

.image20 {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}
/*.fab > core-icon::shadow path {
        fill: #fff;
    }*/
