
<div class="row">

    <div class="col-md-6">
        <div class="btn-group leftCenteredInRow">
            <button type="button" class="btn btn-success">جديد</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">جديد</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <h2>الشاشة الرئيسية</h2>
    </div>
</div>
